<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robert.schoolMgr.dao.UserMapper">
    <resultMap id="UserInfoMapper" type="com.robert.schoolMgr.bean.UserInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="username" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectUserInfo" parameterType="java.lang.Integer" resultMap="UserInfoMapper">
        select * from tb_user_info where id = #{id}
    </select>
</mapper>